<link rel="stylesheet" href="/css/home.css">

<div id="home-container">

    <section id="feed-posts">
        <div>
            <% if(locals.user) { %>
                <h4>Posts</h4>
                <form action="/posts/create-post" id="feed-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                    <input type="submit" value="Post">
                </form>
            <% } %>
        </div>
        <div id="div-posts">
            <h4>Recent Posts</h4>
            <ul>
                <% for(post of posts) { %>
                    <%- include('_post') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="user_friends">
        <h4>Friends</h4>
        <% for(usr of all_users) { %>
            <p>
                <a href="/users/profile/<%= usr.id %>"><%= usr.name %></a>
            </p>
        <% } %>
    </section>

</div>