<h1>Sign In</h1>
        
<form action="/users/create-session" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Email" required>

    <br>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" required>

    <br>

    <input type="submit" value="Sign In">

</form>